<div class="container fj-move-100">
    <h2>Author page: </h2>
    <div class="row pt-3">
        <div class="col-lg-6 col-12 text-center">
            <img src="assets/img/filipjelic.png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-3">
            <h3>My name is Filip Jelić</h3>
            <p>I am 22 years old and i live in a little city near Belgrade called Obrenovac, as of right now i am studying at Visoka ICT and on my way to become a web programmer. Even when i was young i had a thing for personal computers, and i chose that to be the way for living my best life. Now i am in my third year of studyes and i have learned much things, which some you can check out at my <a class="textSpan" target="_blank" href="https://jelkesudo.github.io/portfolio/">portfolio</a> page.</p>
        </div>
    </div>
</div>
