<div class="modal-header">
    <h4 class="modal-title">Order code:</h4>
    <h4 class="modal-title">{{ modalData.order.orderNumber }}</h4>
    <button type="button" class="btn btn-danger close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of modalData.order.meals">
            <td>{{ m.name }}</td>
            <td>{{ m.price }}</td>
            <td>{{ m.quantity }}</td>
          </tr>
          <tr>
            <td rowspan="3"><b>Total: {{ totalPrice }}</b></td>
          </tr>
      </tbody>
  </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>